@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

html {
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

.container {
   max-width: 1770px;
   margin: 0 4%;
}

/* header */

.header {
   background: #FFFFFF;
   box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
   border-radius: 0px 0px 32px 32px;
   position: fixed;
   width: 100vw;
   top: 0;
   z-index: 1;
}

.header__inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 14px 0;
   position: relative;
}

/* header__btn-burger */
.header__btn-burger {
   display: none;
   justify-content: center;
   align-items: center;
   border: none;
   background: #fff;
   padding: 25px 10px;
   cursor: pointer;
}

.header__btn-burger span {
   display: inline-block;
   width: 30px;
   height: 3px;
   background: #000;
}

.header__btn-burger span::before,
.header__btn-burger span::after {
   content: "";
   display: inline-block;
   width: 30px;
   height: 3px;
   background: #000;
}

.header__btn-burger span::before {
   transform: translateY(-20px);
}

.header__btn-burger span::after {
   transform: translateY(-20px);
}

.header__btn-burger:active span {
   background: rgb(255, 255, 255);
}

.header__btn-burger:active span::before {
   transform: translate(0px, -12px) rotate(45deg);
}

.header__btn-burger:active span::after {
   transform: translate(0px, -30px) rotate(135deg);
}

.header__menu-burger {
   margin: 0;
   margin-left: -1px;
   padding: 20px;
   transition: all .5s;
   transform: scaleY(0);
   transform-origin: top;
   position: absolute;
   background: #fff;
   width: 200px;
   box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
   border-radius: 0px 0px 32px 32px;
}

.header__menu-burger_active {
   transform: scaleY(1);
}

.header__list-burger {
   list-style: none;
   padding: 10px 0;
   margin: 0;
}

.header__item-burger {
   margin-bottom: 60px;
}


.header__logo {
   margin-right: 450px;
}

.header__menu {
   padding-left: 0;
   margin-right: 260px;
}

.header__list {
   display: flex;
   list-style: none;
   padding-left: 0;
}

.header__item:not(:last-child) {
   margin-right: 85px;
}

.header__item-link {
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   color: #000000;
   padding-bottom: 7px;
}

.header__item-link:hover {
   border-bottom: 2px solid #FF9900;
}

.header__item-link:focus {
   outline: 2px solid #FF9900;
}

.header__item-link:active {
   border-bottom: 2px solid #E1670E;
   color: #E1670E;
}

.form-search__btn-close,
.form-search__btn-send,
.header__btn-search {
   border: none;
   background: #FFFFFF;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 7px;

   background-position: top right;
   background-repeat: no-repeat;
   background-size: contain;
   width: 24px;
   height: 24px;
}

.form-search {
   display: flex;
   align-items: center;
   background: #FFFFFF;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
   border-radius: 10px;
   position: absolute;
   right: 0;
   transform: scaleX(0);
   transform-origin: right;
   transition: transform 0.3s;
}

.form-search_show {
   transform: scaleX(1);
}

.header__btn-search {
   background-image: url(../img/header/search.svg);
}

.header__btn-search:hover,
.form-search__btn-send {
   background-image: url(../img/header/search_hover.svg);
}

.form-search__btn-close {
   background-image: url(../img/header/close.svg);
}

.form-search__btn-close:hover {
   background-image: url(../img/header/close_hover.svg);
}

.form-search__btn-close:active {
   background-image: url(../img/header/close_active.svg);
}

.form-search__input {
   padding: 16px 32px;
   border: none;
   border-radius: 10px;
}

.form-search__input::placeholder {
   padding-bottom: 5px;
   color: #CACACA;
   border-bottom: 1px solid #CACACA;
}

/* main */

main {
   margin-top: 150px;
}

/* section-solutions */

.section-solution__inner {
   position: relative;
}

/* section-solutions-slider */
.slider-solution {
   position: relative;
}

.slider-solution__item {
   border-radius: 32px;
   transform: matrix(-1, 0, 0, 1, 0, 0);
   background-image: url(../img/solutions/slide1.jpg);
   background-position: top right;
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 1770px;
   height: 620px;
}

.slider-solution__item:nth-child(1) {
   background-image: url(../img/solutions/slide1.jpg);
}

.slider-solution__item:nth-child(2) {
   background-image: url(../img/solutions/slide2.jpg);
}

.slider-solution__item:nth-child(3) {
   background-image: url(../img/solutions/slide3.jpg);
}

.slick-dots {
   margin-bottom: 30px;
   position: absolute;
   bottom: 0;
   right: 50%;
   transform: translateX(50%);
   display: flex;
   align-items: center;
   justify-content: center;
   list-style: none;
}

.slick-dots li {
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background: #CACACA;
   margin: 10px;
}

.slick-dots li:nth-child(1) {
   order: 1;
}

.slick-dots li:nth-child(2) {
   order: 0;
}

.slick-dots li:nth-child(3) {
   order: -1;
}

.slick-dots li.slick-active {
   background: #fff;
}

/* section-solution__content */
.section-solution__content {
   max-width: 900px;
   position: absolute;
   top: 0;
   left: 0;
   padding-top: 100px;
   padding-left: 80px;
}

.section-solution__title {
   font-weight: 800;
   font-size: 60px;
   line-height: 70px;
   color: #FFFFFF;
   margin: 0;
   margin-bottom: 30px;
}

.section-solution__text {
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   color: #FFFFFF;
   margin: 0;
   margin-bottom: 90px;
}

.section-solution__btn {
   display: inline-block;
   padding: 25px 39px;
   background: #FF9900;
   border-radius: 16px;
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   text-align: center;
   color: #FFFFFF;
}

.section-solution__btn:active {
   background: #E1670E;
}

/* section-about-us */

.section-about-us {
   margin-top: 50px;
}

.section-about-us__title {
   font-size: 48px;
   line-height: 59px;
   font-weight: 400;
}

.section-about-us__description {
   font-size: 16px;
   line-height: 32px;
   margin-bottom: 50px;
   max-width: 1235px;
}

.section-about-us__row {
   display: flex;
   justify-content: space-between;
}

.info-more {
   background: url(../img/about-us/bg-more.jpg) no-repeat;
   background-size: cover;
   border-radius: 32px;
   display: flex;
   align-items: flex-end;
   color: #FFFFFF;
   font-size: 16px;
   line-height: 32px;
   flex-basis: 50%;
}

.info-more__row {
   background: rgba(0, 0, 0, 0.5);
   border-radius: 32px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 50px;
   width: 100%;
}

.info-more__info {
   display: none;
}

.info-more__text {
   max-width: 433px;
}

.info-more__more {
   border: 3px solid #FF9900;
   border-radius: 16px;
   display: inline-block;
   padding: 20px 38px;
   cursor: pointer;
}

.info-more__more:hover {
   background: #FF9900;
}

.info-more__more:active {
   background: #E1670E;
   border-color: #E1670E;
}

.info-box {
   flex-basis: 50%;
   margin-left: 32px;
}

.info-box__item {
   padding: 60px 120px 60px 60px;
   background: #FFFFFF;
   border: 1px solid #CACACA;
   border-radius: 32px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.info-box__item:nth-child(1) {
   margin-bottom: 32px;
}

.info-box__icon {
   margin-right: 50px;
}

.info-box__title {
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   color: #000000;
}

.info-box__description {
   font-size: 16px;
   line-height: 30px;
   color: #000000;
}

/* section-work */

.section-work {
   margin-top: 100px;
}

.section-work__inner {
   position: relative;
}

.section-work__title {
   font-weight: 400;
   font-size: 48px;
   line-height: 59px;
}

.section-work__steps {
   display: inline-flex;
   margin-bottom: 55px;
}

.section-work__step {
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   cursor: pointer;
}

.section-work__step:not(:last-child) {
   margin-right: 86px;
}

.section-work__step:hover {
   color: #FF9900;
}

.section-work__step:active {
   color: #E1670E;
}

.section-work__step-active {
   color: #E1670E;
}

/* tab-work */

.tab-work__item {
   display: none;
}

.tab-work__item-active {
   display: flex;
   justify-content: space-between;
}

.tab-work__title {
   margin: 0;
   margin-bottom: 8px;
   font-weight: 700;
   font-size: 24px;
   line-height: 32px;
}

.tab-work__description {
   margin: 0;
   font-weight: 400;
   font-size: 16px;
   line-height: 32px;
   overflow: auto;
   max-height: 352px;
}

.section-work__info {
   position: absolute;
   bottom: 0;
}

.section-work__link-more,
.section-work__link-treaty {
   display: inline-block;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   border-radius: 16px;
   padding: 19px 38px;
}

.section-work__link-more {
   color: #FFFFFF;
   background: #FF9900;
   margin-right: 32px;
}

.section-work__link-more:hover {
   background: #FFB84D;
}

.section-work__link-more:active {
   background: #E1670E;
}

.section-work__link-treaty {
   border: 1px solid #000000;
   color: #000000;
}

.section-work__link-treaty:hover {
   border: 1px solid #666666;
   color: #FFFFFF;
   background: #666666;
}

.section-work__link-treaty:active {
   color: #FFFFFF;
   background: #000000;
}

/* section-questions */

.section-questions {
   margin-top: 111px;
}

.section-questions__title {
   font-weight: 400;
   font-size: 48px;
   line-height: 59px;
}

/* accodrion */

.accodrion__title {
   font-weight: 700;
   font-size: 24px;
   line-height: 32px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-top: 1px solid #CACACA;
   padding-top: 32px;
   text-align: left;
   position: relative;
}

.accodrion__title span {
   position: absolute;
}

.accodrion__btn {
   background: #CACACA;
   width: 50px;
   height: 50px;
   border: none;
   border-radius: 50%;
   position: relative;
   left: 100%;
   transform: translateX(-100%);
}

.accodrion__btn:active,
.accodrion__btn:hover {
   background: #FF9900;
}

.accodrion__btn::after,
.accodrion__btn::before {
   position: absolute;
   display: block;
   content: "";
   background: #000000;
   width: 1px;
   height: 31px;
}

.accodrion__btn::after {
   transform: translate(20px, -15px) rotate(90deg);
}

.accodrion__btn::before {
   transform: translate(20px, -15px);
}

.accodrion__btn:active::after {
   transform: translate(20px, -15px) rotate(45deg);
}

.accodrion__btn:active::before {
   transform: translate(20px, -15px) rotate(-45deg);
}

.accodrion__description {
   font-weight: 400;
   font-size: 16px;
   line-height: 32px;
}

.accodrion__border-bottom {
   border-bottom: 1px solid #CACACA;
   padding-bottom: 20px;
}

/* footer */

.footer {
   background: #000000;
   margin-top: 100px;
}

.footer__inner {
   display: flex;
   justify-content: space-between;
   padding-top: 50px;
   padding-bottom: 50px;
}

.footer__info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.footer__menu {
   padding: 0;
   margin: 20px 0 90px;
}

.footer__list {
   padding: 0;
   list-style: none;
}

.footer__item-link {
   font-weight: 600;
   font-size: 16px;
   line-height: 36px;
   color: #CACACA;
}

.footer__item-link:hover {
   color: #ff9900
}

.footer__item-link:active {
   color: #E1670E;
}

.footer__social-link:first-child {
   margin-right: 25px;
}

.footer__social-link:hover svg path {
   fill: #FF9900;
}

.footer__social-link:active svg path {
   fill: #E1670E;
}

.footer__form-title {
   font-weight: 400;
   font-size: 48px;
   line-height: 59px;
   color: #CACACA;
   margin: 0;
   margin-bottom: 25px;
}

.form-info {
   display: flex;
   flex-direction: column;
}

.form-info__text,
.form-info__email,
.form-info__textarea {
   background: #414141;
   border-radius: 16px;
   width: 570px;
   margin-top: 25px;
   padding: 14px 0 14px 24px;
   border: none;
}

.form-info__text::placeholder,
.form-info__email::placeholder,
.form-info__textarea::placeholder {
   font-size: 16px;
   line-height: 32px;
   color: #CACACA;
}

.form-info__text:active,
.form-info__email:active,
.form-info__textarea:active {
   background: #666666;
}

.form-info__textarea {
   resize: none;
   margin-bottom: 32px;
}

.footer__description {
   font-weight: 400;
   font-size: 16px;
   line-height: 32px;
   color: #CACACA;
}

.form-info__btn {
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
   background: #FF9900;
   border-radius: 16px;
   padding: 19px 52px;
   margin-right: 18px;
}

.form-info__btn:hover {
   background: #FFB84D;
}

.form-info__btn:active {
   background: #E1670E;
}

.form-info__chek {
   position: absolute;
   opacity: 0;
   z-index: -1;
}

.form-info__chek+label {
   display: inline-flex;
   align-items: center;
   user-select: none;
}

.form-info__chek+label::before {
   content: '';
   display: inline-block;
   width: 14px;
   height: 14px;
   flex-shrink: 0;
   flex-grow: 0;
   border: 1px solid #CACACA;
   border-radius: 0.25em;
   margin-right: 0.5em;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 50% 50%;
   width: 18px;
   height: 18px;
}

.form-info__chek:checked+label::before {
   background-image: url(../img/footer/checkbox.svg);
   background-size: contain;
}

.form-info__row label {
   font-weight: 400;
   font-size: 15px;
   line-height: 32px;
   color: #CACACA;
   margin-left: 4px;
}

.footer__description {
   padding-top: 90px;
   max-width: 363px;
}

/* ADAPTIV */

@media screen and (max-width: 1850px) {
   /* header */

   .header__logo {
      margin-right: 200px;
   }

   .header__menu {
      margin-right: 180px;
   }
}


@media screen and (max-width: 1770px) {
   /* header */

   .header__logo {
      margin-right: 150px;
   }

   .header__menu {
      margin-right: 160px;
   }

   /* section-work */

   .tab-work__info {
      margin-right: 50px;
   }

   /* section-questions */

   .accodrion__description {
      overflow: auto;
   }
}

@media screen and (max-width: 1400px) {
   /* header */

   .header__logo {
      margin-right: 100px;
   }

   .header__menu {
      margin-right: 100px;
   }

   /* section-about-us */

   .section-about-us__row {
      flex-direction: column;
   }

   .info-more {
      min-height: 640px;
      margin-bottom: 32px;
   }

   .info-box {
      margin-left: 0;
   }

   /* section-work */

   .tab-work__info {
      margin-right: 50px;
   }

   .tab-work__description {
      max-height: 550px;
      overflow: auto;
   }
}

@media screen and (max-width: 1300px) {
   /* header */

   .header__logo {
      margin-right: 80px;
   }

   .header__menu {
      margin-right: 80px;
   }

   .header__item:not(:last-child) {
      margin-right: 40px;
   }

   /* footer */

   .footer__inner {
      flex-wrap: wrap;
   }

   .footer__form {
      margin: 0 70px;
   }

   .footer__description {
      max-width: 1000px;
   }
}

@media screen and (max-width: 1024px) {
   .container {
      max-width: 924px;
   }

   /* header */

   .header__menu {
      display: none;
   }

   .header__btn-burger {
      display: flex;
   }

   .header__logo {
      margin-right: 0;
   }

   /* section-solutions */
   .slider-solution__item {
      background-image: url(../img/solutions/1024/slider1.jpg);
   }

   .slider-solution__item:nth-child(1) {
      background-image: url(../img/solutions/1024/slider1.jpg);
   }

   .slider-solution__item:nth-child(2) {
      background-image: url(../img/solutions/1024/slider2.jpg);
   }

   .slider-solution__item:nth-child(3) {
      background-image: url(../img/solutions/1024/slider3.jpg);
   }

   .section-solution__title {
      font-size: 60px;
      line-height: 70px;
      margin-bottom: 16px;
   }

   .section-solution__text {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 85px;
   }

   /* section-about-us */

   .info-more {
      background: url(../img/about-us/bg-more-1024.jpg) no-repeat;
      background-size: cover;
   }

   .info-box__item {
      padding: 60px 105px 60px 50px;
   }

   /* section-questions */

   .accodrion__title span {
      max-width: 80%;
   }

   /* footer */

   .footer__inner {
      flex-wrap: wrap;
   }

   .footer__form {
      margin: 0;
   }

   .footer__description {
      display: none;
   }
}

@media screen and (max-width: 940px) {
   /* section-work */

   .tab-work__item-active {
      flex-direction: column;
   }

   .tab-work__info {
      margin-top: 30px;
      margin-right: 0px;
      order: 2;
   }

   .info-box__icon {
      order: 1;
      max-width: 100%;
      align-self: center;
      margin: 0 auto;
   }

   .section-work__info {
      position: static;
      margin-top: 25px;
   }
}

@media screen and (max-width: 864px) {
   /* footer */

   .footer__form {
      margin: 0;
      order: 1;
   }

   .footer__info {
      order: 2;
      margin-top: 50px;
   }
}

@media screen and (max-width: 768px) {
   main {
      margin-top: 100px;
   }

   /* section-solutions */

   .slider-solution__item {
      background-image: url(../img/solutions/768/slider1.jpg);
   }

   .slider-solution__item:nth-child(1) {
      background-image: url(../img/solutions/768/slider1.jpg);
   }

   .slider-solution__item:nth-child(2) {
      background-image: url(../img/solutions/768/slider2.jpg);
   }

   .slider-solution__item:nth-child(3) {
      background-image: url(../img/solutions/768/slider3.jpg);
   }

   .section-solution__title {
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 16px;
   }

   .section-solution__text {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 60px;
   }

   /* section-about-us */

   .info-more {
      background: url(../img/about-us/bg-more-768.jpg) no-repeat;
      background-size: cover;
   }

   .info-box__item {
      padding: 35px 46px 35px 40px;
   }

   /* section-work */
   .section-work__steps {
      display: flex;
      justify-content: space-between;
   }

   .section-work__step:not(:last-child) {
      margin-right: 0;
   }

   .tab-work__description {
      max-height: none;
   }

   .info-box__icon img {
      display: block;
      max-width: 668px;
      width: 100%;
   }

   /* footer */

   .footer__menu {
      display: none;
   }

   .footer__social {
      margin-top: 16px;
   }
}

@media screen and (max-width: 768px) {
   /* footer */

   .form-info__text,
   .form-info__email,
   .form-info__textarea {
      max-width: 570px;
      width: 100%;
   }
}

@media screen and (max-width: 580px) {
   /* section-solutions */

   .section-solution__content {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .section-solution__title {
      font-size: 35px;
      line-height: 44px;
      text-align: center;
      margin-bottom: 16px;
   }

   .section-solution__text {
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      margin-bottom: 50px;
   }

   /* section-about-us */

   .info-more__text {
      font-size: 14px;
      line-height: 28px;
   }

   .info-more {
      min-height: 300px;
   }

   .info-more__row {
      display: none;
   }

   .info-more__info {
      display: block;
      margin-bottom: 32px;
   }

   .info-more__more {
      color: #ff9900;
      background-color: #fff;
   }

   .info-more__more:active,
   .info-more__more:hover {
      color: #ffffff;
   }

   .info-box__title {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
   }

   .info-box__description {
      font-size: 14px;
      line-height: 28px;
   }

   /* section-work */

   .section-work__title {
      font-size: 45px;
      line-height: 52px;
   }

   /* section-questions */

   .accodrion__title span {
      font-size: 16px;
      line-height: 24px;
      max-width: 80%;
   }

   /* footer */

   .form-info__row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }

   .form-info__row label {
      margin-top: 10px;
      transform: translateX(-10px);
   }

   .footer__info {
      align-items: center;
      width: 100%;
   }
}

@media screen and (max-width: 450px) {
   /* section-about-us */

   .info-box__item {
      border: none;
      padding: 0;
      flex-direction: column;
      align-items: start;
   }

   .info-box__icon {
      margin: 0px;
      align-self: start;
      order: 1;
   }

   .info-box__block {
      order: 2;
   }

   /* section-work */

   .section-work__title {
      font-size: 40px;
      line-height: 50px;
   }

   /* section-questions */

   .section-questions__title {
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
   }
}

@media screen and (max-width: 400px) {
   /* section-work */

   .section-work__link-more,
   .section-work__link-treaty {
      font-size: 12px;
      line-height: 15px;
      padding: 12px 30px;
   }
}

@media screen and (max-width: 380px) {
   /* section-work */

   .section-work__title {
      font-size: 34px;
      line-height: 45px;
   }
}

@media screen and (max-width: 320px) {
   /* section-solutions */

   .slider-solution__item {
      background-image: url(../img/solutions/320/slider1.jpg);
   }

   .slider-solution__item:nth-child(1) {
      background-image: url(../img/solutions/320/slider1.jpg);
   }

   .slider-solution__item:nth-child(2) {
      background-image: url(../img/solutions/320/slider2.jpg);
   }

   .slider-solution__item:nth-child(3) {
      background-image: url(../img/solutions/320/slider3.jpg);
   }

   .section-solution__title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 16px;
   }

   .section-solution__text {
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      margin-bottom: 40px;
   }

   .slider-solution__item {
      max-height: 400px;
   }

   .section-solution__btn {
      font-size: 12px;
      line-height: 15px;
   }

   /* section-about-us */

   .section-about-us__title {
      font-size: 24px;
   }

   .section-about-us__description {
      font-size: 14px;
   }

   .info-more {
      background: url(../img/about-us/bg-more-320.jpg) no-repeat;
      background-size: contain;
   }

   .info-more {
      min-height: 200px;
   }

   /* section-work */

   .section-work__title {
      font-size: 24px;
      line-height: 29px;
   }
}